// Colors
$bgColor: #edeff0;
$navColor: #3e474f;

$atomColor: #ffd466;
$plutoColor: #326e99;
$marsColor: #b1464f;
$jupiterColor: #8363b2;
$currentPlanColor: #5fcf80;

$textColor: #fff;
$textColorDark: #576366;
$textColorNav: #b2bbbd;

$headingColor: #384047;
$lineColor: #e2e5e8;
