<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Taxamo</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css">
</head>