<nav class="navbar navbar-default navbar-taxamo">
  <div class="container">
    <div class="navbar-header">
     <a href="#/" class="navbar-brand">Taxamo</a> 
    </div>
    <ul class="nav navbar-nav navbar-nav-taxamo">
      <li><a href="#/profile/?token=<%=token%>">Profile</a></li>
    </ul>
  </div>
</nav>  